body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.12_206 { 
  overflow:hidden;
}
.e12_206 { 
  background-color:rgba(238.00001621246338, 192.38334238529205, 208.15205544233322, 1);
  width:1920px;
  height:167px;
  position:absolute;
}
.e8_229 { 
  width:1920px;
  height:99px;
  position:absolute;
  left:0px;
  top:0px;
}
.ei8_229_8_109 { 
  width:116px;
  height:55px;
  position:absolute;
  left:20px;
  top:22px;
}
.ei8_229_8_109_21_65 { 
  width:113px;
  height:55px;
  position:absolute;
  left:0px;
  top:0px;
}
.ei8_229_8_109_21_118 { 
  box-shadow:2px 2px 3px rgba(232.68750607967377, 93.0750024318695, 218.72620403766632, 1);
  color:rgba(0, 0, 0, 1);
  width:45px;
  height:55px;
  position:absolute;
  left:1.5px;
  top:0px;
  font-family:Raleway;
  text-align:left;
  font-size:40px;
  letter-spacing:0;
}
.ei8_229_8_109_21_36 { 
  box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
  width:40px;
  height:47.000003814697266px;
  position:absolute;
  left:46.5px;
  top:3.999998092651367px;
}
.ei8_229_8_109_21_36_6_22 { 
  box-shadow:2px 2px 3px rgba(232.68750607967377, 93.0750024318695, 218.72620403766632, 1);
  width:62.22748947143555px;
  height:40.52200698852539px;
  position:absolute;
  left:2.799999952316284px;
  top:3.8000001907348633px;
}
.ei8_229_8_109_21_36_6_23 { 
  color:rgba(0, 0, 0, 1);
  position:absolute;
  left:62.22748947143555px;
  top:18.565486907958984px;
  font-family:Inter;
  text-align:left;
  font-size:12px;
  letter-spacing:0;
}
.ei8_229_8_109_21_36_6_24 { 
  width:35.0940055847168px;
  height:40.52200698852539px;
  position:absolute;
  left:0px;
  top:0px;
}
.ei8_229_8_109_21_36_6_25 { 
  width:35.0940055847168px;
  height:40.52200698852539px;
  position:absolute;
  left:0px;
  top:0px;
}
.ei8_229_8_109_21_36_6_26 { 
  background-color:rgba(0, 0, 0, 1);
  width:30.240001678466797px;
  height:20.261993408203125px;
  position:absolute;
  left:4.85400390625px;
  top:0px;
}
.ei8_229_8_109_21_36_6_27 { 
  background-color:rgba(0, 0, 0, 1);
  width:35.0940055847168px;
  height:37.720008850097656px;
  position:absolute;
  left:0px;
  top:2.8019962310791016px;
}
.ei8_229_8_109_21_36_6_28 { 
  background-color:rgba(0, 0, 0, 1);
  width:18.06599235534668px;
  height:20.857995986938477px;
  position:absolute;
  left:7.30800724029541px;
  top:9.832001686096191px;
}
.ei8_229_8_109_21_63 { 
  box-shadow:2px 2px 3px rgba(232.68750607967377, 93.0750024318695, 218.72620403766632, 1);
  color:rgba(0, 0, 0, 1);
  width:25px;
  height:55px;
  position:absolute;
  left:86.5px;
  top:0px;
  font-family:Raleway;
  text-align:left;
  font-size:40px;
  letter-spacing:0;
}
.ei8_229_8_217 { 
  box-shadow:2px 2px 3px rgba(232.68750607967377, 93.0750024318695, 218.72620403766632, 1);
  width:539px;
  height:47px;
  position:absolute;
  left:661px;
  top:26px;
}
.ei8_229_8_217_8_192 { 
  width:111px;
  height:47px;
  position:absolute;
  left:0px;
  top:0px;
}
.ei8_229_8_217_8_192_6_9 { 
  color:rgba(0, 0, 0, 1);
  width:111px;
  height:47px;
  position:absolute;
  left:0px;
  top:0px;
  font-family:Raleway;
  text-align:center;
  font-size:40px;
  letter-spacing:0;
}
.ei8_229_8_217_8_195 { 
  width:155px;
  height:47px;
  position:absolute;
  left:146px;
  top:0px;
}
.ei8_229_8_217_8_195_6_9 { 
  color:rgba(0, 0, 0, 1);
  width:155px;
  height:47px;
  position:absolute;
  left:0px;
  top:0px;
  font-family:Raleway;
  text-align:center;
  font-size:40px;
  letter-spacing:0;
}
.ei8_229_8_217_8_190 { 
  width:168px;
  height:47px;
  position:absolute;
  left:336px;
  top:0px;
}
.ei8_229_8_217_8_190_6_9 { 
  color:rgba(0, 0, 0, 1);
  width:168px;
  height:47px;
  position:absolute;
  left:0px;
  top:0px;
  font-family:Raleway;
  text-align:center;
  font-size:40px;
  letter-spacing:0;
}
.ei8_229_8_217_8_215 { 
  position:absolute;
  left:539px;
  top:0px;
}
.ei8_229_8_217_8_215_6_9 { 
  color:rgba(0, 0, 0, 1);
  position:absolute;
  left:0px;
  top:0px;
  font-family:Raleway;
  text-align:center;
  font-size:40px;
  letter-spacing:0;
}
.ei8_229_8_218 { 
  box-shadow:3px 3px 3px rgba(164.6874949336052, 58.326824605464935, 128.52485060691833, 1);
  background-color:rgba(238.00000101327896, 181.0000044107437, 68.00000354647636, 1);
  width:175px;
  height:58px;
  position:absolute;
  left:1725px;
  top:20.5px;
  border-top-left-radius:26px;
  border-top-right-radius:26px;
  border-bottom-left-radius:26px;
  border-bottom-right-radius:26px;
}
.ei8_229_8_218_8_199 { 
  box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
  color:rgba(0, 0, 0, 1);
  width:135px;
  height:28px;
  position:absolute;
  left:20px;
  top:15px;
  font-family:Raleway;
  text-align:center;
  font-size:24px;
  letter-spacing:-2;
}

